.header {
    background-image: radial-gradient(circle,  #FBFFB1,antiquewhite);
    
    a{
        margin-right: 7px;
    }

    .logincde {
    
        ul {
            margin: 0px;

            li {
                list-style: none;
                margin-right: 7px;

            }

        }

    }

}

.footer-section {
    background-image: radial-gradient(circle,  #FBFFB1,antiquewhite);
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 12px;    
    color: black;

    a {
        color: black;
    }
}