.property-listing {
    display:block;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
  }
  
  .property-card {
    background-color:beige;
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    margin-bottom: 20px;
    width:auto;
    padding: 20px;
  }
  
  .property-card img {
    border-radius: 20px;
    height: 200px;
    width: 20%;
    background-color: rgb(222, 222, 200);
  }
  
  .property-details {
    padding: 20px;
    text-align: right;
  }
  
  .property-name {
    margin:auto;
    color:#f5576c;
  }
  
  .property-address {
    color:rgba(122, 145, 166, 0.86);
    margin-bottom: 0;
    font-weight: bold;
  }
  
  .property-price {
    color:rgba(122, 145, 166, 0.86);
    font-weight: 700;
    margin-bottom: 0;
  }
  
  .property-info {
    display:block;
    justify-content:center;
    color:rgba(122, 145, 166, 0.86);
    font-weight: bold;
  }
  
  .property-info p {
    margin: 0;
  }
  