.custom-card {
	width: 350px;
	max-width: 100%;
	background-color: #eee!important;
}

.user-icon {
	font-size: 100px;
	color: lightskyblue;
}

.register-message {
    color: red;
    font-size: 18px;
}

.register-bg {
    background-image: linear-gradient(rgb(229 255 13 / 20%), rgb(10 209 251 / 20%));
}
