.postproperty .form-group {
    text-align: left;
    margin-bottom: 20px;

    label {
        font-size: 13px;
    }

    input {
        font-size: 13px;
    }
}

.margin-b{
    margin-bottom: 50px;
}